.card_container{
    width: 89%;
    height: 120px;
    /*background-color: blanchedalmond;
    */background-color: rgba(215, 255, 196, 0.973);
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -ms-transition: width 2s;
    -o-transition: width 2s;
}
.card_name{
font-size: 42px;
font-weight:300;
margin-bottom: 10px;
}
.card_price{
    font-size: 32px;
    margin-bottom: 10px;
}
.card_date{
    font-size: 24px;
}
.card_name, .card_price, .card_date{
    background-color: rgb(215, 255, 196);
    box-shadow: 0 1px 1px 1px rgb(163, 163, 163);
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.controllers{
    display: flex;
    flex-direction: column;
    
}
.delete_btn, .edit_btn{
    background-color: rgb(215, 255, 196);
    /* box-shadow: 0 1px 1px 1px rgb(163, 163, 163); */
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(177, 177, 177);
}
.delete_btn{
    /* margin-bottom: 10px; */
    background-color: rgb(255, 184, 184);
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    

    .card_name, .card_price, .card_date{
        font-size: 10px;
        color: white;
        background-color: black;
        width: 8%;

    }
    

}